@model TrainingSystem.Models.IterateGroupTrainingViewModel
@{
    ViewBag.Title = "Iterate training";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="jumbotron">
    <p>
        @Model.Summary
    </p>
</div>