@{
    ViewBag.Title = "Concepts";
}
<h2>@ViewBag.Title</h2>
<hr />
<h3>Road Maps</h3>
<p>If you want to learn a programming skill, you need a roadmap.</p>
<p>Crafting and maintaining a really good roadmap is a process that happens in time, not as a one time push.</p>
<p>It can't be done by a single programmer, it can only be done by groups or teams of programmers and people learning to become programmers.</p>
<p>LearnXN helps them create these road maps.</p>
<hr />
<h3>Roads & Road steps</h3>

<p>A roadmap will contain several roads, each road will contain a number of road steps, and the apprentice will have to go through some or all of the roads in the roadmap in order to master it (and the programming skill).</p>
<hr />
<a href="/home/faq" class="btn btn-primary btn-lg">Frequently asked questions &raquo;</a>