@{
    ViewBag.Title = "Frequently asked questions";
}
<h2>@ViewBag.Title</h2>
<hr/>
<h4>Is this a platform where I pay to get access to content that I can learn?</h4>
<p>Nope. All the content you need is already out there, and we don’t want to reinvent the wheel. We will show you what you need to learn, the right resources to do it best, and assist you with the entire process of learning.</p>
<hr />
<h4>Is this a training management platform?</h4>
<p>It does training management, among other things which are equally important.</p>
<hr />
<h4>Is this a platform with online classes, students and teachers who collaborate in real-time?</h4>
<p>Our goal is to create a system which generates 80% results with 20% effort (see <a href="https://en.wikipedia.org/wiki/Pareto_principle" target="_blank">Pareto principle</a>), which means that resources should be used as efficiently as possible. Online classes in real-time have some value but are not a very efficient way to use resources (especially the teacher's time), so we are not doing those. Most of the actions (such as preparing reading resources for students, preparing exercises, doing code reviews, etc.) are triggered on demand, only when they are required, and members don't depend on each other's availability for advancing with their learning.
</p>
<hr />
<h4>How can I use my skills to make money by using the platform?</h4>
<p>(coming soon) You will be able to get paid by students who want you to review their solutions to exercises. This is a piece of the puzzle which is completely missing on the Web, and we are excited to see what happens after we add it.</p>
<hr />
<h4>How does the platform make money?</h4>
<p>We make money in 2 ways: companies pay a monthly subscription to use the platform for their teams, and we also get a very small percentage of every payment made between students and teachers.</p>
<hr />
<h4>What do I get if I join?</h4>
<p>
    It depends on your needs, but at a glance:
    <ul>
        <li>A profile presenting your programming skills and how you helped others evolve (envision a linkedin profile with a focus on learning and teamwork)</li>
        <li>A timeline showing your activity in learning and helping others learn (envision a facebook timeline with a focus on what you learned, who helped you, who you helped, etc.)</li>
        <li>Interaction with an active community which builds treasure maps (as in 'highly valuable roadmaps' :)) for learning programming stuff</li>
        <li>Help and assistance in discovering the treasures that you need and becoming the best programmer that you can be</li>
        <li>and… you can also get paid for your skills, without doing actual software development work (coming soon)</li>
    </ul>
</p>
<hr />
<a href="/home/HowWeHelpTeams" class="btn btn-primary btn-lg">How we help teams of programmers &raquo;</a>