@{
    ViewBag.Title = "How we help teams of programmers";
}
<h2>@ViewBag.Title</h2>

<p>Software development teams usually face some or all of the following problems:</p>
<ul>
    <li>The time it takes a Junior to become Mid-level is around 1-2 years. That’s long.</li>
    <li>The time it takes a Mid-level to become Senior is around 2-4 years. That’s even longer.</li>
    <li>A Senior leaving the team generates a huge negative impact over the efficiency of the team</li>
    <li>The process of evolution from Junior to Mid-level or Mid-level to Senior is chaotic, impossible to measure, monitor and quantify. As we know, you can’t improve what you can’t measure.</li>
    <li>Finding new members for the team is difficult and can take months</li>
    <li>The team does not have the resources to put together a good training system for Junior or for Mid-level, or it can’t maintain, improve and apply this system constantly for the long term.</li>
</ul>
<p>These problems can’t dissapear 100%, but our platform can help you reduce them by up to 45%.</p>
<p>How?</p>
<ul>
    <li>The platform actively assists the team to learn continuously, as a whole, in small iteration steps.</li>
    <li>The platform actively assists the team to invest the right resources in the training process, and only when someone in the team actually needs them.</li>
    <li>The platform provides tools to monitor and quantify the group learning process.</li>
</ul>
<p>Let’s use an example of how this would work in practice:</p>
<p>After I create an account, I click on Community -> Add Training Group</p>
<p>I add the team members, and assign generic teacher / student roles</p>
<p>I click on Start training this group. That’s all the configuration needed to get started!</p>
<p>The plaform will start iterating: first, it will select some of the teachers to create roads with at least one road step, so that the students can start learning.</p>
<p>The teacher will activate the new road for the group, and specify who inside the group can prepare content, who can do code reviews, and who should learn this road.</p>
<p>After the road step becomes available, the platform lets the student know what he can learn</p>
<p>The student starts learning.</p>
<p>If he has questions or needs help, he can send the question.</p>
<p>The platform will select a teacher who is available, and send him the student’s question so that he can help the student. The work is automatically split between the team members and especially between teachers, so that everyone can participate equally to the evolution of the team.</p>
<p>The student finishes studying the resources, rates them and leaves feedback.</p>
<p>The platforms selects a teacher who can prepare content for this road and is available, and lets him know that he needs to prepare the exercise so that the student can continue learning.</p>
<p>After the teacher prepares the exercise, the platform lets the student know that he can start working on the exercise.</p>
<p>The student starts working on the exercise.</p>
<p>Just like with the learning resources, if he has questions or needs help he can send the question and the platform will select a teacher who can help and is available.</p>
<p>After the student finishes the exercise, he uploads the solution.</p>
<p>He also rates the exercise and leaves feedback.</p>
<p>The platform selects a teacher who can review the exercise and is available, and lets the teacher know that he needs to do the review.</p>