@{
    ViewBag.Title = "How we help teams of programmers";
}
<h2>@ViewBag.Title</h2>

<p>Software development teams usually face some or all of the following problems:</p>
<ul>
    <li>The time it takes a Junior to become Mid-level is around 1-2 years. That’s long.</li>
    <li>The time it takes a Mid-level to become Senior is around 2-4 years. That’s even longer.</li>
    <li>A Senior leaving the team generates a huge negative impact over the efficiency of the team</li>
    <li>The process of evolution from Junior to Mid-level or Mid-level to Senior is chaotic, impossible to measure, monitor and quantify. As we know, you can’t improve what you can’t measure.</li>
    <li>Finding new members for the team is difficult and can take months</li>
    <li>The team does not have the resources to put together a good training system for Junior or for Mid-level, or it can’t maintain, improve and apply this system constantly for the long term.</li>
</ul>
<p><span style="font-weight: bold; color: green;">These problems can’t dissapear 100%, but our platform can help you reduce them by up to 45%.</span></p>
<p>How?</p>
<ul>
    <li>The platform actively assists the team to learn continuously, as a whole, in small iteration steps.</li>
    <li>The platform actively assists the team to invest the right resources in the training process, and only when someone in the team actually needs them.</li>
    <li>The platform provides tools to monitor and quantify the group learning process.</li>
</ul>
<p>Let’s use an example of how this would work in practice:</p>
<ul>
    <li>
        <p>After I create an account, I click on Community -> Add Training Group, I add the team members, assign generic teacher / student roles and I click on Start training this group. <span style="font-weight: bold; color: green;">That’s all the configuration needed to get started!</span></p>
        <div style="text-align: center; padding: 20px;">
            <img src="/docs/teams/1.jpg" width="1000px;" style="border: 1px solid black;"/>
        </div>
    </li>
    <li>
        <p>The plaform will start iterating: first, it will select and notify some of the teachers to create roads with at least one road step and reading materials, so that the students can start learning.</p>
        <div style="text-align: center; padding: 20px;">
            <img src="/docs/teams/2.jpg" width="1000px;" style="border: 1px solid black;"/>
        </div>
    </li>
    <li>
        <p>The teacher will create a new road map (example: "Becoming a strong .Net (C#) backend software developer"), which contains at least one road ("OOP, modelling classes and interactions between them in .Net (C#)"), which contains at least one road step with reading materials ("Quick OOP basics in .Net (C#)").</p>
        <div style="text-align: center; padding: 20px;">
            <img src="/docs/teams/3.jpg" width="1000px;" style="border: 1px solid black;"/>
        </div>
    </li>
    <li>
        <p>Next, the teacher will activate the new road for the training group, and specify who inside the group can prepare content, who can do code reviews, and who should learn this road.</p>
        <div style="text-align: center; padding: 20px;">
            <img src="/docs/teams/4.jpg" width="1000px;" style="border: 1px solid black;"/>
        </div>
    </li>
    <li>
        <p>After the road step becomes available, the platform lets the student know what he can learn</p>
        <div style="text-align: center; padding: 20px;">
            <img src="/docs/teams/5.jpg" width="1000px;" style="border: 1px solid black;"/>
        </div>
    </li>
    <li>
        <p>The student starts learning. If he has questions or needs help, he can send the question.</p>
        <div style="text-align: center; padding: 20px;">
            <img src="/docs/teams/6.jpg" width="1000px;" style="border: 1px solid black;"/>
        </div>
        <div style="text-align: center; padding: 20px;">
            <img src="/docs/teams/7.jpg" width="1000px;" style="border: 1px solid black;"/>
        </div>
    </li>
    <li>
        <p>The platform will select a teacher who is available, and send him the student’s question so that he can help the student. <span style="font-weight: bold; color: green;">Work is automatically split between the team members and especially between teachers, so that everyone can participate equally to the evolution of the team.</span></p>
        <div style="text-align: center; padding: 20px;">
            <img src="/docs/teams/8.jpg" width="1000px;" style="border: 1px solid black;"/>
        </div>
    </li>
    <li>
        <p>The student finishes studying the resources, rates them and leaves feedback. <span style="font-weight: bold; color: green;">The platform lets people rate and comment on everyting, and uses this information to identify which are the best resources, exercises, teachers, etc. (like stackoverflow does)</span></p>
        <div style="text-align: center; padding: 20px;">
            <img src="/docs/teams/9.jpg" width="1000px;" style="border: 1px solid black;"/>
        </div>
    </li>
    <li>
        <p>Next, the student needs an exercise to apply what he just learned. The platforms selects a teacher who can prepare content for this road and is available, and notifies him.</p>
    </li>
    <li>
        <p>After the teacher prepares the exercise, the platform lets the student know that he can start working on the exercise.</p>
    </li>
    <li>
        <p>The student starts working on the exercise.</p>
        <div style="text-align: center; padding: 20px;">
            <img src="/docs/teams/10.jpg" width="1000px;" style="border: 1px solid black;"/>
        </div>
    </li>
    <li>
        <p>Just like with the learning resources, if he has questions or needs help he can send the question and the platform will select a teacher who can help and is available.</p>
    </li>
    <li>
        <p>After the student finishes the exercise, he uploads the solution.</p>
        <div style="text-align: center; padding: 20px;">
            <img src="/docs/teams/11.jpg" width="1000px;" style="border: 1px solid black;"/>
        </div>
    </li>
    <li>
        <p>He also rates the exercise and leaves feedback.</p>
        <div style="text-align: center; padding: 20px;">
            <img src="/docs/teams/12.jpg" width="1000px;" style="border: 1px solid black;"/>
        </div>
    </li>
    <li>
        <p>The platform selects a teacher who can review the exercise and is available, and notifies him.</p>
    </li>
    <li>
        <p>The teacher downloads the solution provided by the student, does the review, writes his feedback, and decides if the student has graduated or not.</p>
        <div style="text-align: center; padding: 20px;">
            <img src="/docs/teams/13.jpg" width="1000px;" style="border: 1px solid black;"/>
        </div>
    </li>
    <li>
        <p>The student receives the review feedback. If he did not graduate, he can do the exercise again and send it for review.</p>
        <div style="text-align: center; padding: 20px;">
            <img src="/docs/teams/14.jpg" width="1000px;" style="border: 1px solid black;"/>
        </div>
    </li>
    <li>
        <p>If he graduated, the platform will prepare the next thing for him to learn. <span style="font-weight: bold; color: green;">It will continue to manage the team, and make sure everyone is evolving and contributing.</span></p>
    </li>
</ul>
<p style="padding-top: 15px; font-weight: bold; font-size: 20px;">This is one way in which LearnXN can help software development teams, but there is so much more!</p>
<a href="/home/faq" class="btn btn-primary btn-lg">Frequently asked questions &raquo;</a>