@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>LearnXN</h1>
    <p class="lead">Learnxn is a highly scalable quality education system which helps groups and teams of any size to learn and develop their programming skills like never before.</p>
    <p>
        <a href="/library/" class="btn btn-primary btn-lg">Library &raquo;</a>
        <a href="/account/register" class="btn btn-primary btn-lg">Create account &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-12">
        <p style="text-align: center;">
            <span style="font-style: italic; font-weight: bold;">"The key for quality, scalable education is in improving and simplifying how teams and groups of people learn and transfer know-how between each other."</span>
            <span style="float: right;">The LearnXN team</span>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Quick intro to our concepts</h2>
        <p>
            If you want to learn a programming skill, you need a roadmap.
            Crafting and maintaining a really good roadmap is a process ...
        </p>
        <p><a href="/home/concepts" class="btn btn-default">Learn more &raquo;</a>
        </p>
    </div>

    <div class="col-md-4">
        <h2>How we help teams of programmers</h2>
        <p>
            Software development teams usually face some or all of the following problems:The time it takes a Junior to become ...
        </p>
        <p><a href="/home/HowWeHelpTeams" class="btn btn-default">Learn more &raquo;</a>
        </p>
    </div>

    <div class="col-md-4">
        <h2>Frequently asked questions</h2>
        <p>
            Is this a platform where I pay to get access to content that I can learn? Is this a platform with online classes, students and teachers ...
        </p>
        <p><a href="/home/faq" class="btn btn-default">Learn more &raquo;</a></p>
    </div>
</div>